<#include "/common/header.html" />

<body>
<div class="container-fluid larry-wrapper">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <!--头部搜索-->
            <section class="panel panel-padding">
                <form class="layui-form" data-params='{"dataName":"article","action":"list"}'
                      action="${base}/article/list" method="get">
                    <div class="layui-form">
                        <div class="layui-inline">
                            <select name="city" lay-verify="required">
                                <option value="0">请选择分类</option>
                                <option value="010">时代新人</option>
                                <option value="021">今日头条</option>
                                <option value="0571">科技朝文</option>
                            </select>
                        </div>
                        <div class="layui-inline">
                            <select name="status" lay-verify="required">
                                <option value="021">发布</option>
                                <option value="0571">下架</option>
                            </select>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <input class="layui-input start-date" name="start_date" placeholder="开始日">
                            </div>
                            <div class="layui-input-inline">
                                <input class="layui-input end-date" name="end_date" placeholder="截止日">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <input class="layui-input" name="title" placeholder="关键字">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button lay-submit class="layui-btn" lay-filter="search">查找</button>
                        </div>
                    </div>
                </form>
            </section>

            <!--列表-->
            <section class="panel panel-padding">
                <div class="group-button">
                    <button class="layui-btn layui-btn-small layui-btn-danger ajax-all"
                            data-params='{"url": "${base}/article/delete","confirm":"true","action":"del","dataName":"article","key":"id"}'>
                        <i class="iconfont">&#xe626;</i> 删除
                    </button>
                    <button class="layui-btn layui-btn-small layui-btn-normal ajax-all"
                            data-params='{"url": "${base}/article/edit","data":"status=1","dataName":"article","key":"id"}'>
                        <i class="iconfont">&#xe603;</i> 发布
                    </button>
                    <button class="layui-btn layui-btn-small layui-btn-normal ajax-all"
                            data-params='{"url": "${base}/article/edit","data":"status=2","dataName":"article","key":"id"}'>
                        <i class="layui-icon">&#x1005;</i> 驳回
                    </button>
                    <button class="layui-btn layui-btn-small modal"
                            data-params='{"content": "${base}/article/add", "title": "添加文章","type":"2"}'>
                        <i class="iconfont">&#xe649;</i> 添加
                    </button>
                </div>
                <div class="layui-form">
                    <table id="example" class="layui-table jq-even" data-params='{"dataName":"article","key":"id"}'>
                        <thead>
                        <tr>
                            <th width="30"><input type="checkbox" id="checkall" data-name="id" lay-filter="check"
                                                  lay-skin="primary"></th>
                            <th>标题</th>
                            <th>简介</th>
                            <th>封面</th>
                            <th width="70">排序</th>
                            <th width="80">审核</th>
                            <th width="142">操作</th>
                        </tr>
                        </thead>
                        <tbody id="list"></tbody>
                    </table>
                </div>

                <div class="text-right" id="page"></div>
            </section>
        </div>
    </div>
</div>

</body>

<script id="list-tpl" type="text/html"
        data-params='{"url":"${base}/article/list","dataName":"article","pageid":"#page"}'>

    {{# layui.each(d.list, function(index, item){ }}
    <tr>
        <td><input type="checkbox" name="id" value="{{ item.id}}" lay-skin="primary"></td>
        <td class="edit" data-params='{"url":"./data/success.json","field":"title","data":"id={{ item.id}}"}'>
            {{item.title}}
        </td>
        <td>
            {{item.intro}}
        </td>

        <td>
            <div class="img"><img src="{{ item.cover }}" alt="{{item.title}}" class="img-thumbnail"></div>
        </td>
        <td><input type="text" class="layui-input ajax-blur" name="order" value="{{ item.sort}}"
                   data-params='{"url":"${base}/article/update","data":"id={{ item.id}}"}'></td>
        <td><input type="checkbox" name="status" lay-skin="switch" value="1" lay-text="发布|待审" {{#if (item.status){
                   }}checked="checked" {{# } }} lay-filter="ajax"
                   data-params='{"url":"${base}/article/status","data":"id={{ item.id}}"}'></td>
        <td>
            <div class="layui-btn-group">
                <button class="layui-btn layui-btn-mini modal"
                        data-params='{"content": "${base}/article/edit", "title": "{{item.title}}","type":"2","data":"id={{ item.id }}","action":"edit","bind":true}'>
                    <i class="iconfont">&#xe653;</i>编辑
                </button>
                <button class="layui-btn layui-btn-mini layui-btn-danger ajax"
                        data-params='{"url": "${base}/article/delete","confirm":"true","data":"id={{ item.id }}","action":"del"}'>
                    <i class="iconfont">&#xe626;</i>删除
                </button>
            </div>
        </td>
    </tr>
    {{# }); }}
</script>

<#include "/common/version.html" />

<script>
    layui.use('list');
</script>

</html>